.footers a {color:#696969;}
.footers p {color:#696969;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 .footers-logo {
    margin-top: 12px;
 }
 .mt-12 {
     margin-top: 12px;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

 .footers {
     
 }
 h4 {
     font-weight: bold;
 }

.footers__container {
    padding: 40px 15px 20px;
 }
.bg__content {
    margin-top: 40px;
    background-color: #f8f8f8;
    padding: 40px 15px 20px;
}
p.copyright {
    padding: 3px 0;
    font-size: 16px;
    color:#696969;
}
.fs-15 {
    font-size: 15px;
}

 input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
    padding:10px 0 10px 20px;
 }

.btn1 {
    float: right;
    background: #484848;
    box-shadow: none;
    border: 0;
    color: #FFF;
    padding: 14px 25px;
    line-height: 1;
    font-size: 12px;
    border-radius: 30px;
    outline: none;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 0 0;
    
 }
.btn1:hover {
    background-color: #b41712;
    text-decoration: none;
 }



.top-footer {
     background-color: #1253b4;
     padding: 24px;
     width: 100%;
 }

.top-footer div.left {
    color: #FFFFFF;
}

.top-footer div.left {
    font-family: serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}

.top-footer .menu-search {
    background: #fff;
    border: none;
}

.menu-search {
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    border-radius: 30px;
    font-size: 12px;
    overflow: hidden;
}

.top-footer .menu-search input.search-field {
    font-weight: 300;
    font-size: 14px;
}

.menu-search input.search-field {
    border: 0;
    outline: 0;
    border-left: 0.5px solid #DDDDDD;
    background: transparent;
    line-height: 40px;
    padding: 0;
    padding-left: 24px;
    height: 42px;
    color: #606060;
    width: 40%;
    font-size: 14px;
    font-weight: 300;
    max-width: 100%;
}

.menu-search .btn.btn-primary {
    background: #484848;
    float: right;
    line-height: 40px;
    padding: 0;
    border-radius: 30px;
    padding-right: 15px;
    padding-left: 15px;
    height: 43px;
    position: relative;
    box-shadow: none;
    outline: 0;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.menu-search .btn.btn-primary:hover {
    background-color: #d34836;
}

.search-icon {
    margin: 0;
}