body {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #242424;
}

.news-group {
	margin-left: -10px;
    padding-right: 29px !important;
}
.list-news-title{
	width: 100%;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 5px;

}
.list-news-subtitle{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

/*product card*/
.card-product{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;	
	min-height: 382px;
}

.card-product a {
	color:#000;
}

.card-product a:hover {
	text-decoration: none;
}


	





