

.relative {
    position: relative;
}

.tag {
margin-top: 50px;
}

.tag .HomeCategoryCol1 {
    width: 49% !important;
    background-color: #ffffff !important;
    padding: 0px;
    margin-bottom: 2px;
    margin: 2.5px;
}

.tag .HomeCategoryCol1 {
    width: 49% !important;
    background-color: #ffffff !important;
    padding: 0px 0px 1px 0px;
    margin-bottom: 2px;
    margin: 2.5px;
}

.tag .HomeCategoryCol2 {
    width: 49% !important;
    background-color: #ffffff !important;
    padding: 0px;
    margin-bottom: 2px;
    margin: 2.5px;
}

/* .tag > .col-md-6 {
    padding: 0;
} */



.masonry_banner a {
    display: block;
    
}

.masonry_banner {
    margin: 2.5px;
    margin-bottom: 5px;
}


/* .masonry_banner a::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.masonry_banner a::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.masonry_banner a::before, .masonry_banner a::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.masonry_banner a:hover::before, .masonry_banner a:hover::after {
 opacity: 1;
} */

.masonry_banner .relative img {
    object-fit: cover;
}

.masonry_holder {
    margin: 40px;
    position: absolute;
    top: 0;
    width: 80%;
}

.masonry_holder .category_name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
p.category_count {
    color: #FFFFFF;
    font-weight: normal;
    line-height: 26px;
    margin-top: 5px;
    font-weight: 300;
    text-transform: capitalize;
}

.masonry_banner .read-more {
    border: 1px solid;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    line-height: 1;
    margin-top: 25px;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    position: relative;
    z-index: 12;
}

.navA {
    padding: 30px 0px 30px 8px;
    background: rgba(153, 217, 242, .0);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
   transition: background .1s, border-bottom .2s, border-left .2s, border-top .4s, border-right .4s;
  }
.navA:hover{
  transition: all 1.25s;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: 2px solid rgba(255, 252, 252, 0.6);
  }
